<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (user) {%>
      <h1>WELCOME BACK TO <%= title %> <span><%= user.username %></span> </h1>
      <a href="/log-out">LOG OUT</a>
      <img class="avatar" src="/images/<%= user.avatar %>">
    <% } else { %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a class="btn-submit" href="/sign-up">Sign up</a>
    <a class="btn-submit" href="/log-in">Log in</a>
    <% } %>
  </body>
</html>
