<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (user) {%>
      <a href="/log-out">LOG OUT</a>
      <h1><span>Welcome back to the </span> <%= title %>, <span><%= user.username %></span> ! </h1>
      <img class="avatar" src="/images/<%= user.avatar %>">
      <% if (user.membership_status === false) {%>
        <p>Not a member yet? Join the patriarchy by clicking the button below</p>
        <a class="btn-submit" href="/member">Become a member</a>
      <% } %>
      <% if (user.admin_status === false) {%>
        <p>Click here to gain admin status</p>
        <a class="btn-submit" href="/admin">Admin</a>
      <% } %>
      <p>Create a message</p>
      <a class="btn-submit" href="/create-message">New Message</a>
    <% } else { %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a class="btn-submit" href="/sign-up">Sign up</a>
    <a class="btn-submit" href="/log-in">Log in</a>
    <% } %>
    <div>
      <% messages.forEach(function(message) { %>
        <div class="msg-card">
          <p class="title"> <%= message.title %></p>
          <p class="text"> <%= message.text %> </p>
          <div class="date-name">
            <p class="username"> <%= message.username %> </p>
            <p class="time"> <%= message.time_stamp %> </p>

          </div>
        </div>
      <% }); %>
      </div>
  </body>
</html>
