<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (user) {%>
      <a href="/log-out">LOG OUT</a>
      <a href="/">Main Page</a>
      <h1><span><%= title %></span></h1>
      <img class="avatar" src="/images/<%= user.avatar %>">
      <h2> <%= user.username %> </h2>
      <h2> <%= user.email %> </h2>
      <% if (user.membership_status === true) {%>
      <h2>You're a member. You can see who created a post and when.</h2>
      <% } %>
      <% if (user.admin_status === true) {%>
      <h2>You're an admin. You can see who created a post and when, and you can also delete posts.</h2>
      <% } %>
      <% if (user.membership_status === false) {%>
        <p>Not a member yet? Join the patriarchy by clicking the button below</p>
        <a class="btn-submit" href="/member">Become a member</a>
      <% } %>
      <% if (user.admin_status === false) {%>
        <p>Click here to gain admin status</p>
        <a class="btn-submit" href="/admin">Admin</a>
      <% } %>
        <p>Click below to update your profile</p>
        <a class="btn-submit" href="/update-profile">Update Profile</a>
        <div>
          <% if (user_messages.length > 0) { %>
            <% user_messages.forEach(function(message) { %>
              <div class="msg-card">
                <p class="title"> <%= message.title %></p>
                <p class="text"> <%= message.text %> </p>
                <div class="date-name">
                  <div class="user-profile">
                    <img class="avatar-sm" src="/images/<%= message.avatar %>">
                    <p class="username"> <%= message.username %> </p>
                  </div>
                  <p class="time"> <%= message.time_stamp %> </p>
                </div>
                <% if ( user && user.admin_status===true) {%>
                  <form action="/delete-message/<%= message._id %>" method="POST">
                    <button class="btn-submit" type="submit">Delete</button>
                  </form>
                <% } %>
              </div>
              <% }); %>
          <% } else { %>
            <h1>You haven't posted anything yet</h1>
            <% } %>
          </div>
    <% } else { %>
    <h1> Sign in to view your profile </h1>
    <% } %>
  </body>
</html>
